.chat{
    flex: 2;
    border-left: 1px solid #dddddd35;

    height: 100%;
    display: flex;
    flex-direction: column;
    
    .top{
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #dddddd35;

        .user{
            display: flex;
            align-items: center;
            gap: 20px;

            img{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
            }

            .texts{
                display: flex;
                flex-direction: column;
                gap: 5px;

                span{
                    font-size: 18px;
                    font-weight: bold;
                }

                p{
                    font-size: 14px;
                    font-weight: 300;
                    color: #a5a5a5;
                }
            }
        }

        .icons{
            display: flex;
            gap: 20px;

            img{
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }
    }

    .center{
        padding: 20px;
        flex: 1;
        overflow: scroll;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .message{
            max-width: 70%;
            display: flex;
            gap: 20px;
            
            &.own{
                align-self: flex-end;
                
                .text{
                    p{
                        background-color: rgba(82,131,254, 0.3);
                    }
                }
            }

            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }

            .text{
                flex:1;
                display: flex;
                flex-direction: column;
                gap: 5px;

                img{
                    width: 100%;
                    height: 300px;
                    border-radius: 10px;
                    object-fit: cover;
                }
    
                p{
                    padding: 20px;
                    background-color: rgba(17, 25, 40, 0.3);
                    border-radius: 10px;
                }
    
                span{
                    font-size: 13px;
                }
            }
        }
    }

    .center::-webkit-scrollbar {
        width: 8px;
    }

    .center::-webkit-scrollbar-thumb {
        background-color: rgba(221, 231, 255, 0.5);
        border-radius: 10px;
    }

    .bottom{
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #dddddd35;
        gap: 20px;
        margin-top: auto;

        .icons{
           display: flex;
            gap: 20px;
        }
        
        img{
            width: 20px;
            height: 20px;
            cursor: pointer;
            }

        input{
            flex: 1;
            background-color: rgba(17, 25, 40, 0.5);
            border: none;
            outline: none;
            color: white;
            padding: 15px;
            border-radius: 10px;
            font-size: 16px;
        }

        .send{
            background-color: #5183fe;
            color: white;
            padding: 15px 15px;
            border: none;
            outline: none;
            border-radius: 10px;
            transition: 0.5s;
            cursor: pointer;
        }

        .emoji{
            position: relative;

            .picker{
                position: absolute;
                bottom: 50px;
                left: 0;
            }
        }

        .send:hover{
            background-color: #7a9ffc;
            transition: 0.5s;
        }
        
    }
}