* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body{
  background-image: url('../public/bg5.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.container{
  width: 100vw;
  height: 100vh;
  background-color:rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(19px) saturate(180%);
  /* border-radius: 12px; */
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: auto;
}

.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-track {
  background: transparent;
}

.container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}